.baslik-kutusu {
    width: 85%;
    z-index:999;
    background: linear-gradient(rgba(0, 0, 150, 0), rgba(0, 0, 100, 1));
    margin: 0 0 1% 0;
    text-align: center;
}

.form-paneli {
    width: 85%;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.form-konteyner {
    width: 90%;
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px;
}